@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color:burlywood;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Zipper were created between 1917 and 1920. We can produce zippers for sleeping bags, campers, leather jackets,
    raincoats, boots, heavy winter coats, boat top covers, SUV enclosures, chaps or just 
    about any other item or application that requires a zipper closure. We manufacture 
    zippers from metal teeth, molded teeth or coil teeth in various styles and configurations
    and any length you require.</p>
</div>
